.passwordform__header {
    color: white;
    text-align: center;
  }
  
  .passwordform {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
  }
  
  .passwordform form {
    margin-bottom: 1rem;
  }

.password__modal,
.password__modal h2 {
  text-align: center;
}

.password__modal button,
.password__modal a {
  margin: 0.5rem;

}

  .modal h2 {
      text-align: center;
  }