.sub-account-header h2 {
    padding: 40px 0px 0px 0px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.account-subs h2 {
    text-align: center;
    color: #f00;
    font-size: 18px;
}